<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);">
  <div class="container">
    <h1>Watch Lists</h1>
    <%= link_to "Create A New List", new_list_path, class:'btn btn-flat text-decoration-none'%>
  </div>
</div>
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
        <div class="card">
            <%= list.name %>
        </div>
    <% end %>
<% end %>
