.banner {
  display: flex;
  background-image: url('../../images/background.png');
  color: white;
  height: 600px;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.banner-container h3, p, a {
  margin: 0;
}
