.btn-green {
  border-radius: 5px;
  color: white;
  border: 3px solid white;
  padding: 10px;
  margin-left: 0;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
  width: 100px;
}

.btn-green:hover {
  background-color: white;
  color: #B5B847;
}
