.btn-green {
  border-radius: 50px;
  color: white;
  background-color: lightgreen;
  padding: 20px;
  margin: 30px;
  margin-left: 0;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
  width: 100px;
}

.btn-green:hover {
  background-color: rgb(13, 203, 13);
}
