.btn-w {
  border-radius: 5px;
  color: white;
  border: 3px solid white;
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
  width: 100px;
  height: fit-content;
}

.btn-w:hover {
  background-color: white;
  color: #B5B847;
}

.btn-list {
  color: #325132;
  transition: 0.3s
}

.btn-list:hover {
  color: #B5B847;
}

.fa-trash {
  color: #325132;
}
