.cards {
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
}

.card-container {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  height: 425px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 300px;
  border: none;
  width: 300px;
  text-align: center;
  font-size: smaller;
}

.card img{
  height: 150px;
  width: 150px;
  margin-left: 75px;
}
