.cards {
  display: flex;
  justify-content: space-around;
}

.card-container {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 250px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 300px;
  border: none;
  width: 300px;
  text-align: center;
  font-size: smaller;
  z-index: -1;
}

.card img{
  height: 150px;
  width: 150px;
  margin-left: 75px;
}

.bm-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  text-align: center;
  font-size: smaller;
  z-index: -1;
  margin-bottom: 20px;
}

.bm-card img {
  height: 150px;
  width: 150px;
}

.bm-info {
  width: fit-content;
}

.bm-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: -100px;
}
