.cards {
  display: flex;
  justify-content: space-around;
}

.card-container {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  height: 425px;
}

.card {
  box-shadow: 2px 2px 5px lightgray;
  height: 300px;
  width: 300px;
  text-align: center;
  font-size: smaller;
}

.card img{
  height: 150px;
  width: 150px;
}
