.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2C2B2B;
  font-size: smaller;
  height: 200px;
  margin-top: 50px;
}

.fa-github {
  font-size: 40px;
  color: #1ddd87;
  margin-bottom: 20px;
}
